
.App
  border: 2px solid black
  border-radius: 5px
  width: 500px
  margin-top: 100px


#quote-div
  display: flex
  flex-direction: row
  padding: 40px
  gap: 10px
  #quote-icon
    width: 30px
    height: 30px

#lower-menu
  display: flex
  flex-direction: row
  gap: 16px
  padding-bottom: 40px
  .social-media-icon
    width: 20px
    height: 20px
    padding: 10px
    border-radius: 5px


#quoter, #lower-menu #btn
  margin-left: auto
  text-align: right

.border
  border: 100px solid red

